body{
	background: ;
	margin: 0;
	padding: 0;
}
header{
	background: #f4f6fc;
}
.main-nav{
	display: flex;
	justify-content: space-between;
	color: white;
	padding: 0.5rem 1rem;
	max-width: 1100px;
	margin: auto;
}
.Logo a{
	font-weight: bold;
}
.main-nav a{
	text-decoration: none;
	color: black;
	text-transform: capitalize;
	border-bottom: 3px solid transparent;
}
.main-nav a:hover{
	border-bottom: 3px  solid orangered;
}
.nav-items{
	display: flex;
	align-items: center;
	gap: 1rem;
}
}
#loginLink{
	background: rgba(255, 69, 0, 0.2);
	padding: 0.1rem 0.5rem;
	border-radius: 5px;
	color: orangered;
}
.main-wrapper{
	padding: 0.5rem 0.5rem;
	max-width: 100%;
	margin: 25px;
	min-height: 600px;
	display: flex;
	justify-content: space-between;
}
.main-section{
	width: 70%;
	border: 3px solid green;
	padding-right: 0.5rem;
	padding-top: 0.5rem;
}
.top-hightlight{
	border:1px solid red;
	height: 200px;
	background: whitesmoke;

}