table{
	 border-collapse: collapse;
	 width: 60%;
	 height: 20rem;
}
tr{
	text-align: center;
}
#main{
	font-size: 25px;
	text-transform: uppercase;
	writing-mode: vertical-rl;
	text-orientation: upright;
	letter-spacing: 5px;

	
	

}
 #main{
	padding-left: 30px;
}

	
